:root {
  --white: #ffffff;
  --philippinesilver: #b3b3b3;
  --independence: #4d506a;
  --darktan: #848556;
  --darkcharcoal: #2e2f33;
  --lavenderrose: #ffa1ea;
  --silverchalice: #ababab;
  --black: #000000;
  --chineseblack: #121212;
  --mediumspringgreen: #1ce48b;
  --charlestongreen: #292929;
  --cyanblueazure: #3f72bf;
  --quicksilver: #a7a7a7;
  --blackshadows: #BFB8B2;
  --argent: #bfbfbf;
  --silversand: #c4c4c4;
  --palesilver: #C3BFB9;
  --green: #84B963;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.overall {
  position: relative;
}

.home {
  background: var(--chineseblack);
  background: linear-gradient(
    147deg,
    #12121275 0%,
    #121212bf 18%,
    var(--chineseblack) 100%
  );
  background-attachment: fixed;
  /* height: 100vh; */
  padding: 0 1rem;
}

.__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.__greeting p {
  color: var(--white);
  font-size: 1.438rem;
  font-weight: 700;
  letter-spacing: -2.5%;
}

.__toolbar {
  display: flex;
  align-items: center;
}

.__toolbar li:nth-child(1) {
  padding-right: 20px;
}

.__toolbar li:nth-child(2) {
  padding-right: 20px;
}

.mix__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  justify-items: start;
}

.mix__grid li {
  display: flex;
  align-items: center;
  width: 45vw;
  height: 60px;
  background: var(--darkcharcoal);
  border-radius: 4px;
}

.mix__grid li:nth-child(odd) {
  margin: 8px 8px 8px 0;
}

.mix__grid li:nth-child(even) {
  margin-bottom: 8px;
}

.mix__grid li img {
  border-radius: 4px 0 0 4px;
  height: 60px;
}

.mix__grid li p {
  padding-left: 8px;
  font-size: 0.813rem;
  font-weight: 700;
  color: var(--white);
  text-transform: capitalize;
  line-height: 1rem;
}

.new__songs__header {
  padding: 35px 0 18px 0;
}

.new__songs__header p {
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: -0.5%;
  color: var(--white);
  text-align: left;
}

.new__songs {
  background: var(--charlestongreen);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new__songs img {
  width: 100%;
  border-radius: 8px 0 0 8px;
}

.new__songs__details {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 15px;
}

.new__album {
  background: var(--charlestongreen);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new__album img {
  width: 100%;
  border-radius: 8px 0 0 8px;
}

.new__album__details {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 15px;
}

.__title {
  font-weight: 0.813rem;
  font-weight: 700;
  letter-spacing: 3%;
  color: var(--white);
  padding-bottom: 10px;
}

.__info {
  font-weight: 0.813rem;
  font-weight: 600;
  line-height: 1.3rem;
  color: var(--quicksilver);
  padding-bottom: 22px;
}

.__ctas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.podcast__header {
  padding: 35px 0 18px 0;
}

.podcast__header p {
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: -0.5%;
  color: var(--white);
  text-align: left;
}

.podcast__card ul {
  display: flex;
  align-items: center;
  overflow: auto;
}

.podcast__card ul li {
  margin-right: 15px;
}

.footer__nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  background-color: rgb(0 0 0 / 93%);
  z-index: 2;
}

.footer__nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav ul li {
  margin: 0 40px;
}

.footer__nav ul li a {
  text-decoration: none;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav ul li a span {
  padding-top: 7px;
}

.now__playing {
  background: var(--cyanblueazure);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 100px;
  z-index: 3;
}

.now__playing__song {
  display: flex;
  align-items: center;
}

.now__playing__song img {
  width: 40px;
  height: 40px;
}

.now__playing__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
}

.now__playing__title {
  padding-bottom: 7px;
  color: var(--white);
  font-weight: 0.813rem;
  letter-spacing: -3%;
}

.now__playing__artiste {
  color: var(--blackshadows);
  font-weight: 0.813rem;
  letter-spacing: -3%;
}

.now__playing__ctas {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.now__playing__ctas svg {
  padding-left: 24px;
}

.thats__all {
  padding: 35px 0 200px 0;
}

.thats__all p {
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: -0.5%;
  color: var(--quicksilver);
  text-align: center;
}

a {
  text-decoration: none;
}

.__playing {
  background: rgb(18,18,18);
  background: -moz-linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(68,126,212,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(68,126,212,1) 100%);
  background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(68,126,212,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#447ed4",GradientType=1);
  height: 100vh;
  padding: 1.875rem 1.25rem;
}

.playing__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playing__header a {
  color: var(--white);
}

.playing__header p {
  font-size: 0.813rem;
  font-weight: 700;
  letter-spacing: -1.5%;
  color: var(--white);
}

.playing__details {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
}

.track__cover {
  padding-bottom: 53px;
}

.track__cover img {
  width: 100%;
}

.track__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.track__author {
  display: flex;
  flex-direction: column;
}

.track__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  letter-spacing: -5%;
  padding-bottom: 5px;
}

.track__artist {
  font-size: 1rem;
  font-weight: 600;
  color: var(--blackshadows);
  letter-spacing: -1%;
}

.__progress {
  margin-top: 20px;
  margin-bottom: 5px;
  height: 4px;
  width: 100%;
  background: var(--blackshadows);
  border-radius: 3px;
  position: relative;
}

.__progress::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  background: var(--white);
  height: 3px;
}

.__durations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
}

.__duration span,
.time__left span {
  font-family: 'Montserrat', sans-serif;
  color: var(--palesilver);
  font-size: 0.813rem;
  font-weight: 300;
}

.playing__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}

.__others {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 27px;
}

.__album {
  background: rgb(18,18,18);
  background: linear-gradient(
    0deg
    , rgba(18,18,18,1) 0%, #1212129e 100%);
  height: 100vh;
  padding: 1.875rem 1.25rem;
  display: flex;
  flex-direction: column;
}

.album__cover {
  width: 250px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.album__cover img {
  width: 100%;
}

.album__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  letter-spacing: -5%;
  padding-bottom: 14px;
}

.album__meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.album__meta img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 15px;
}

.album__artist {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  letter-spacing: -1%;
}

.album__year {
  margin-top: 14px;
  margin-bottom: 14px;
}

.album__year p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--blackshadows);
  letter-spacing: -1%;
}

.album__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta__svg {
  display: flex;
  align-items: center;
}

.cta__svg svg:nth-child(2) {
  margin-left: 20px;
}

.album__songs {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.album__song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.song__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.song_title {
  padding-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
  letter-spacing: -1%;
}

.song__artist {
  font-size: 1rem;
  font-weight: 500;
  color: var(--blackshadows);
  letter-spacing: -1%;
}

.footer__nav_ {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  background-color: rgb(0 0 0 / 57%);
  z-index: 2;
}

.footer__nav_ ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav_ ul li {
  margin: 0 40px;
}

.footer__nav_ ul li a {
  text-decoration: none;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav_ ul li a span {
  padding-top: 7px;
}

.now__playing_ {
  background: #474545;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 100px;
  z-index: 3;
}

.now__playing__song {
  display: flex;
  align-items: center;
}

.now__playing__song img {
  width: 40px;
  height: 40px;
}

.now__playing__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
}

.now__playing__title {
  padding-bottom: 7px;
  color: var(--white);
  font-weight: 0.813rem;
  letter-spacing: -3%;
}

.now__playing__artiste {
  color: var(--blackshadows);
  font-weight: 0.813rem;
  letter-spacing: -3%;
}

.now__playing__ctas {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.now__playing__ctas svg {
  padding-left: 24px;
}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/

input[type=range].styled-slider {
  margin-top: 20px;
  margin-bottom: 5px;
  height: 3px;
  -webkit-appearance: none;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 15px + var(--ratio) * (100% - 15px));
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 1em;
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(3px * 0.5 - 15px * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 3px;
  border: none;
  border-radius: 0.5em;
  background: #BFB8B2;
  box-shadow: none;
}
input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#FFFFFF,#FFFFFF) 0/var(--sx) 100% no-repeat, #BFB8B2;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 1em;
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 2px black;
}

input[type=range].styled-slider::-moz-range-track {
  height: 3px;
  border: none;
  border-radius: 0.5em;
  background: #BFB8B2;
  box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#FFFFFF,#FFFFFF) 0/var(--sx) 100% no-repeat, #BFB8B2;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 1em;
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 3px;
  border-radius: 0.5em;
  background: #BFB8B2;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: 3px;
  border-radius: 0.5em 0 0 0.5em;
  margin: -undefined 0 -undefined -undefined;
  background: #FFFFFF;
  border: none;
  border-right-width: 0;
}

@media(min-width: 580px) {
  body {
    display: none;
  }
}